/*шапка*/
.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 25px;
  padding: 92px 50px 96px 50px;
}

.header__menu {
  flex: 1;  /*растягивается*/
}

/*менюшка*/
.header__links-list {
  display: flex;
  gap: 14px;
  list-style: none;
}

.header__links-list-item {
  list-style: circle;
  margin-left: 20px;
}

/*к главной*/
.header__links-list-item:first-child {
  list-style: none;
  margin-left: 0;
}


.header__link {
  display: inline-block;
  font-size: 18px;
  text-decoration: underline;
  white-space: nowrap;
}

.header__link_active {
  text-decoration: none;  /*исправ*/
}

/*лого*/
.header__logo {
  display: block;
  justify-self: center;
  width: 148px;
  height: 105px;
}

.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*адрес и общ стиль*/
.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  font-size: 18px;
  font-style: normal;
  line-height: 1.2;
}


.address a {
  margin: 0;
  text-decoration: underline;
}

.address p {
  margin: 0;
  overflow-wrap: break-word;
  text-decoration: none;
  white-space: normal;
  word-break: break-word;
}

/*адрес в шапке*/
.header__address {
  justify-self: end;
  max-width: 240px;
  padding: 0 10px 0 0;
}

/*адрес в подвале*/
.footer__address {
  align-items: flex-start;
}

/*главная*/
.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 630px;
  padding: 90px 50px 50px 50px;
  color: #fff;
  background-image: url('../images/lotus-flower.png');
  background-size: cover;
  background-position: center;
}

.cover__title,
.cover__description {
  position: relative;
  z-index: 2;
}

/*текст*/
.cover__title {
  margin-top: 60px;
  font-size: 100px;
  font-weight: bold;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  margin-top: 15px;
}

.aligned-text_center {
  margin-right: -30px;
  margin-top: 20px;
  text-align: center;
}

.aligned-text_right {
  margin-right: -30px;
  margin-top: 17px;
  text-align: right;
}

.cover__description {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 60px;
  margin-top: 102px;
}

.cover__description-text {
  font-size: 20px;
  text-transform: uppercase;
  word-spacing: 26px;
}

/*кнопка*/
.bet-button {
  padding: 12px 32px;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  background: none;
  border: 1px solid #fff;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.bet-button:hover {
  background: #fff;
  color: #000;
}

/*общий оверлей исправ*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
}

/*лоты*/
.lots {
  margin: 0;
  padding: 180px 25px 154px 25px;
}

/*загл*/
.lots__heading {
  margin-bottom: 27px;
  padding-left: 40px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

/*карты*/
.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-bottom: 30px;
}

.lots__card-list-item {
  min-height: 596px;
  list-style: none;
}

.card-link {
  display: block;
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  color: #fff;
  background-size: cover;
  background-position: center;
}

.card__title,
.card__text {
  position: relative;
  z-index: 2;
}

.card__title {
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  font-size: 20px;
  line-height: 1.2;
}

/*фон изображения*/
.card_type_film {
  background-image: url('../images/photo.png');
}
.card_type_book {
  background-image: url('../images/photo (1).png');
}
.card_type_picture {
  background-image: url('../images/photo (3).png');
}

/*ссылка о большем*/
.lots__look-more-link {
  display: inline-block;
  margin-left: 40px;
  font-size: 20px;
  text-decoration: underline;
}

/*об аукционе*/
.about {
  display: grid;
  grid-template-columns: 355px 1fr;
  gap: 27px;
  align-items: start;
  padding-right: 29px;
  padding-bottom: 182px;
}

.about__column:last-child {
  margin-top: 22px;
}

/* Круг с логотипом */
.about__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  margin: 0px 45px 0px auto;
  background-color: #000;
  border-radius: 50%;
}

/* Белая картинка-логотип внутри круга */
.about__logo img {
  display: block;
  width: 148px;
  height: auto;
}

.about__title {
  margin-top: 80px;
  margin-bottom: 100px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.about__text p {
  font-size: 20px;
  line-height: 1.2;
}

/*подвал*/
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  gap: 40px;
  padding: 0 50px 90px 50px;
}

/*менюшка*/
.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer__menu-link {
  font-size: 18px;
  text-decoration: underline;
}

.footer__menu-link_active {
  text-decoration: none;
}

/*соц. сети*/
.footer__social-list {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
  list-style: none;
}

.footer__social-link img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}